<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            {% if session.user != undefined %}

                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="usersDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if session.user != null and session.user == "admin@email.com" %}
                                <a class="dropdown-item" id="adminList" href="/users/admin/list">Borrar Usuarios</a>
                            {% else %}
                                <a class="dropdown-item" href="/users/list">Listar Usuarios</a>
                            {% endif %}
                        </div>

                    </li>
                    <li id="myoffers"><a href="/offers/myoffers">Mis Ofertas</a></li>
                    <li id="list"><a href="/offers/searchOffers">Busca ofertas</a></li>
                    <li id="buy"><a href="/offers/buy">Ofertas compradas</a></li>
                </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if session.user != undefined %}
                    <li id="email"><a>Email: {{session.user}}</a></li>
                    <li id="money"><a>Money: {{money}} €</a></li>
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span>Cerrar sesión</a></li>
                {% else %}
                    <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span>Regístrate</a></li>
                    <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <script>
        let params = new URLSearchParams(location.search);
        let message = params.get("message");
        let messageType = params.get("messageType");
        if (message != null && message != "") {
            if (messageType == "") {
                messageType = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + messageType + "'>" + message + " </div>");
        }
    </script>
    {% block body %}{% endblock %}

</div>
</body>
</html>
